/*******************************
  Table of Contents

    0. General Styles
    1. Preloader
    2. Home Styles
    3. Menu Styles
    4. Page Content
    5. Name Block
    6. About Block
    7. Portfolio Block
    8. Contact Block
    9. Responsive

*******************************/

/**********************************/
/******* 1.0 General Styles *******/
/**********************************/
* {
    padding: 0;
    margin: 0;
}

body,
html {
    font: 400 14px 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    color: #727272;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.1;
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

svg,
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

a {
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a[href^='tel:'] {
    color: inherit;
    text-decoration: none;
}

img {
    transition: all 0.3s;
}

canvas {
    min-height: 100%;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    padding: 0;
    margin: 0 0 -6px 0;
    overflow: hidden;
}

/* texts */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
}

h1 {
    font-size: 30px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

h4 {
    font-size: 15px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size: 14px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

h6 {
    font-size: 12px;
    line-height: 32px;
    font-weight: 500;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

strong,
small {
    color: #333;
}

/* Buttons */

a:not([href]):not([tabindex]) {
    color: #fff;
    cursor: pointer;
}

.btn {
    border: 2px solid transparent;
    border-radius: 0;
    padding: 12px 28px;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    color: #fff;
    background-color: #333;
    z-index: 20;
    letter-spacing: 2px;
    overflow: hidden;
}

.btn:hover {
    color: #666;
    background-color: #fff;
    border: 2px solid #666;
    letter-spacing: 3px;
}

.btn:focus {
    box-shadow: none;
    color: #fff;
    outline: none;
}

.btn-download {
    border: none;
    font-size: 14px;
    padding: 16px 25px;
}

.btn-download:hover {
    border: none;
    color: #fff;
    background-color: #333;
    letter-spacing: 2px;
}

.btn.disabled {
    opacity: 1;
}

.back-btn {
    margin-top: -2px;
    height: 16px;
}

.form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.hidex {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.display-block {
    display: block;
}

.lowercase {
    text-transform: lowercase;
}

.hero #triangles {
    overflow-x: hidden;
}

.hero .content {
    text-align: center;
    position: absolute;
    z-index: 11;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 160px;
    padding: 0;
}

.hero .content h1 {
    color: #fff;
    font-size: 4em;
    position: relative;
    font-weight: 400;
    margin: 2vw 1vw;
    font-family: 'Baloo Bhaijaan', serif;
}

.hero .content h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.7em;
    font-family: 'Montserrat', serif;
}

.hero .content a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 12px 19px;
    color: #fff;
    display: inline-block;
}

.hero .content a:hover {
    color: #fff;
    opacity: 0.8;
}

.huge-side {
    min-height: 100vh;
}

.left-side {
    background: #eee;
    padding: 120px 70px 30px;
    text-align: center;
}

.left-side .huge-content {
    color: #fff;
    min-height: 100vh;
}

.left-side .avatar {
    margin-bottom: 33px;
    border-radius: 50%;
}

.left-side .social-icons {
    bottom: 30px;
    padding: 0;
}

.left-side .social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.left-side .social-icons li:last-child {
    margin-right: 0;
}

.left-side .social-icons li a {
    color: #333;
}

.left-side .social-icons li a:hover {
    opacity: 0.8;
}

.right-side {
    margin: 0;
    padding: 0;
}

.right-side .huge-background-img {
    height: 100vh;
    background: #ecf3f7;
    position: relative;
}

/*-------------------------------------------------------------------

                        1. Preloader

-------------------------------------------------------------------*/

.preloader {
    background: linear-gradient(145deg, rgb(221, 224, 228), rgb(113, 127, 150));
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
}

.preloader-circle {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    width: 24px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#scrolldown {
    bottom: 35px;
    height: 40px;
    margin-left: -50px;
    position: absolute;
    left: 50%;
    text-align: center;
    width: 100px;
    z-index: 100;
    opacity: 0.6;
}
#scrolldown span {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    color: #fff;
    font-size: 10px;
}
#scrolldown span {
    text-transform: uppercase;
    text-indent: 3px;
}
.mouse {
    border: 2px solid #fff;
    border-radius: 13px;
    display: block;
    height: 40px;
    left: 50%;
    margin: 10px 0 0 -13px;
    position: absolute;
    width: 24px;
}
.mouse span {
    display: block;
    font-size: 1.5em;
    margin: 2px 0 0 -3px;
}
@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

/*-------------------------------------------------------------------

                        3. Menu Styles

-------------------------------------------------------------------*/

.menu-blocks {
    transition: all 0.5s;
}

.menu-blocks.hidex {
    z-index: -999;
}

.menu-blocks.showx {
    z-index: 999;
}

.menu-block {
    cursor: pointer;
}

.menu-item {
    cursor: pointer;
}

h2.menu-item {
    position: relative;
    color: #fff;
    margin: 50px;
    font-size: 28px;
    font-weight: 600;
    transition: all 1s ease-out;
}

.dark h2.menu-item {
    color: #333;
}

h2.menu-item:before {
    position: absolute;
    top: -40px;
    left: -20px;
    font-size: 14px;
    transition: all 0.5s ease;
}

h2.about.menu-item:before {
    content: '01';
}

h2.portfolio.menu-item:before {
    content: '02';
}

h2.blog.menu-item:before {
    content: '03';
}

h2.contact.menu-item:before {
    content: '04';
}

.menu-block:hover h2.menu-item:before {
    top: -20px;
    left: -40px;
}

h2.menu-item:after {
    position: absolute;
    content: '';
    top: -10px;
    left: -20px;
    width: 70px;
    height: 1px;
    background: #fff;
    transition: all 0.5s ease;
}

.dark h2.menu-item:after {
    background: #333;
}

.menu-block:hover h2.menu-item:after {
    top: 12px;
    left: -40px;
}

.menu-block:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* --- Inline Menu --- */

.inline-menu-container {
    background: #f1f3f6;
    position: fixed;
    height: 40px;
    width: 69%;
    right: 13px;
    top: -50px;
    transition: all 0.5s;
    z-index: 1;
}

.inline-menu-container.showx {
    top: 0;
}

.status {
    color: #333;
    line-height: 38px;
    padding-left: 45px;
}

.status:before {
    position: absolute;
    top: 17px;
    left: 25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4dd133;
    content: '';
}

.status:after {
    position: absolute;
    top: 13px;
    left: 21px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4dd133;
    content: '';
    opacity: 0.3;
}

#close i {
    font-size: 30px;
    vertical-align: middle;
}

.inline-menu {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
}

.inline-menu li {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    line-height: 40px;
    margin-top: -5px;
    padding: 0 15px;
    color: #666;
}

.inline-menu li.active,
.inline-menu li:hover {
    color: #333;
}

.inline-menu li.active {
    cursor: text;
}

.inline-menu-container.style2 {
    background: transparent;
}

.style2 .inline-menu li {
    color: #fff;
    font-weight: 400;
    line-height: 70px;
}

.style2.dark {
    background-color: #f1f3f6;
}

.style2.dark .inline-menu li {
    color: #666;
    font-size: 14px;
    line-height: 40px;
}

.inline-menu-container.style3 {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 40px;
}

.sidebar-menu {
    background: #111;
    height: 100%;
    left: 0;
    position: fixed;
    width: 20%;
}

.sidebar-menu.hidex {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.menu4 .inline-menu {
    margin-right: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.menu4 .inline-menu li {
    color: #787878;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 30px;
}

.menu4 .inline-menu li.active {
    color: #fff;
}

.close-pop {
    background-color: #f1f3f6;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    position: fixed;
    text-align: center;
    width: 69%;
    right: 13px;
    top: -60px;
    transition: all 0.7s;
    z-index: 1;
}

.menu4 .close-pop {
    width: 79%;
}

.close-pop:hover {
    opacity: 0.7;
}

.content-blocks.pop.showx .close-pop {
    top: 0;
}

/*-------------------------------------------------------------------

                        4. Page Content

-------------------------------------------------------------------*/

.content-blocks {
    /*position: fixed;*/
    /*width: 70%;
    height: 100vh;
    opacity: 0.5;*/
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    /*top: 100%;
    left: 30%;*/
    background: #fff;
    transition: opacity 0.7s ease-out;
    z-index: 1;
}

.content-blocks.showx {
    opacity: 1;
    top: 0;
}

.home-container {
    left: 20%;
    position: fixed;
    width: 80%;
}

.menu4 .content-blocks {
    width: 80%;
    left: 20%;
}

.content {
    position: relative;
    padding: 120px 70px 10px;
    height: auto;
    overflow: hidden;
}

.content-blocks.pop {
    left: 100%;
    opacity: 0.3;
    top: 0;
    transition: all 0.3s ease-out;
}

.content-blocks.pop.showx {
    left: 30%;
    opacity: 1;
}

.menu4 .content-blocks.pop.showx {
    left: 20%;
}

.content-blocks.pop .content {
    padding-top: 110px;
}

.block-content {
    margin: 0 0 60px;
    overflow: hidden;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    font-weight: 600;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    background: radial-gradient(
        left top,
        circle cover,
        rgb(12, 180, 206) 9%,
        rgb(0, 108, 255) 48%,
        rgb(100, 66, 255) 91%
    );
    background: -o-radial-gradient(
        left top,
        circle cover,
        rgb(12, 180, 206) 9%,
        rgb(0, 108, 255) 48%,
        rgb(100, 66, 255) 91%
    );
    background: -ms-radial-gradient(
        left top,
        circle cover,
        rgb(12, 180, 206) 9%,
        rgb(0, 108, 255) 48%,
        rgb(100, 66, 255) 91%
    );
    background: -moz-radial-gradient(
        left top,
        circle cover,
        rgb(12, 180, 206) 9%,
        rgb(0, 108, 255) 48%,
        rgb(100, 66, 255) 91%
    );
    background: -webkit-radial-gradient(
        left top,
        circle cover,
        rgb(12, 180, 206) 9%,
        rgb(0, 108, 255) 48%,
        rgb(100, 66, 255) 91%
    );
}
.title #heading-external {
    display: inline;
    font-size: 20px;
}

/*-------------------------------------------------------------------

                        5. NAME BLOCK

-------------------------------------------------------------------*/

.name-block {
    position: absolute;
    width: 700px;
    height: 700px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    transition: all 0.5s;
    z-index: 1;
}

.dark .name-block {
    border: 1px solid rgba(51, 51, 51, 0.4);
}

.typed-cursor {
    display: none;
}

.menu2 .name-block {
    border: none;
    padding: 0 0 0 50px;
}

.name-block.reverse {
    position: absolute;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    display: table;
}

.name-block-container.reverse {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    padding: 0 30px;
}

.menu2 .name-block.reverse,
.menu4 .name-block.reverse {
    width: 100%;
}

.menu4 .name-block.reverse {
    padding-left: 50px;
}

.name-block-container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 240px;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
}

.name-block-container h1,
.name-block-container h2 {
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.dark .name-block-container h1,
.dark .name-block-container h2 {
    color: #333;
}

.name-block-container h2 {
    font-size: 26px;
    min-height: 26px;
}

.name-block-container h1 span {
    font-size: 26px;
    font-weight: 300;
    display: block;
    text-transform: capitalize;
}

.social {
    position: absolute;
    bottom: 15%;
}

.social li {
    display: inline-block;
    margin-right: 2px;
    text-align: center;
}

.social a {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    height: 35px;
    width: 35px;
    transition: all 0.5s;
}

.social li i {
    line-height: 32px;
    font-size: 12px;
}

.social a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid transparent;
    color: #333;
}

.dark .social a {
    border: 2px solid #333;
    color: #333;
}

/*-------------------------------------------------------------------

                        6. ABOUT BLOCK

-------------------------------------------------------------------*/

.about-block {
    position: absolute;
    width: 430px;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    transition: all 0.5s;
    z-index: 99;
}

.dark .about-block {
    border: 1px solid rgba(51, 51, 51, 0.4);
}

.about-block:hover {
    border: 15px solid rgba(255, 255, 255, 0.1);
}

.about-block-container {
    display: table-cell;
    vertical-align: middle;
    padding: 150px 0 0 70px;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
}

.subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 30px;
    text-transform: none;
}

.info-list {
    /* border-bottom: 1px solid #ddd; */
    border-top: 1px solid #ddd;
    /* padding-bottom: 20px; */
    padding-top: 20px;
    /* margin: 20px -15px; */
    overflow: auto;
}

.info-list p {
    margin: 0;
}

.info-list span {
    color: #333;
    font-weight: 400;
    margin-right: 5px;
}

.info-list div {
    padding-left: 0;
    padding-right: 0;
}

.resume-box {
    text-align: center;
}

.spread-images > li img {
    max-width: 4rem;
}

#skill-icons {
    font-size: 3rem;
}

.icon-list li {
    padding-left: 25px;
}

.icon-list li:before {
    position: absolute;
    content: '\f3fd';
    font-family: 'Ionicons';
    font-size: 24px;
    left: 20px;
    color: #666;
}

.timeline {
    position: relative;
}

.timeline:before {
    background: #ddd;
    bottom: 0;
    content: '';
    left: 18px;
    position: absolute;
    top: 50px;
    width: 1px;
    height: 100%;
}

.timeline:after {
    font-family: 'Ionicons';
    top: 0;
    left: -5px;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    color: #ddd;
    font-size: 36px;
    line-height: 45px;
}

.timeline.experience:after {
    content: '\f348';
}

.timeline.education:after {
    content: '\f357';
}

.exp {
    padding: 10px 20px 0 60px;
    position: relative;
}

.exp:after {
    background: #333;
    border: 2px solid #333;
    border-radius: 50%;
    content: '';
    height: 5px;
    width: 5px;
    left: 16px;
    position: absolute;
    text-align: center;
    top: 32px;
}

.exp-holder {
    margin-top: 50px;
}

.exp .hgroup h4,
.exp .hgroup h5 {
    /* span added */
    display: inline-block;
    text-transform: none;
    font-weight: 700;
}

.exp .hgroup {
    margin-bottom: 5px;
}

.exp .hgroup h5 {
    font-weight: 400;
    font-size: 10px;
    margin: 7px 20px 10px;
}

.exp .hgroup h5 span.current {
    font-style: italic;
}

.exp .hgroup hr {
    border: none;
    border-top: 3px double #727272;
    color: #727272;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: auto;
}

.exp .hgroup hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.link {
    /* color: #2175FF; */
    cursor: pointer;
    text-decoration: none;
}

.link--arrowed {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}
.link--arrowed .arrow-icon {
    position: relative;
    top: -1px;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}
.link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.link--arrowed:hover .arrow-icon {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}
.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}

/*-------------------------------------------------------------------

                        7. PORTFOLIO BLOCK

-------------------------------------------------------------------*/
.portfolio .content {
    padding-top: 0;
    padding-bottom: 0;
}

.portfolio .block-content {
    margin-bottom: 0;
}

.portfolio-block {
    position: absolute;
    width: 430px;
    height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    transition: all 0.5s;
    z-index: 1;
}

.dark .portfolio-block {
    border: 1px solid rgba(51, 51, 51, 0.4);
}

.portfolio-block:hover {
    border: 15px solid rgba(255, 255, 255, 0.1);
}

.portfolio-block-container {
    display: table-cell;
    vertical-align: middle;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
}

/* Portfolio */

.portfolio-container {
    overflow: hidden;
    position: relative;
}

.portfolio-item {
    padding-bottom: 30px;
    padding: 1px;
}

.portfolio-item.no-gutter {
    padding: 0 0;
    padding-bottom: 0;
}

.portfolio-item img {
    width: 100%;
    transition: all 5s;
}

.portfolio-column {
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: all 1s;
}

.portfolio-column:hover {
    -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.portfolio-column:hover img {
    transform: scale(1.1);
}

.portfolio-column:hover .portfolio-content {
    opacity: 1;
    cursor: pointer;
}

.portfolio-content {
    position: absolute;
    z-index: 201;
    top: 50%;
    width: 100%;
    opacity: 0;
    transform: translateY(-50%);
}

.portfolio-content h2 {
    color: #fff;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    padding: 0 30px;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.6s;
}

.portfolio-column:hover .portfolio-content h2 {
    margin-top: 20px;
    opacity: 1;
}

.portfolio-content p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -30px;
    text-align: center;
    padding: 10px 30px;
    opacity: 0;
    transition: all 0.9s;
}

.portfolio-column:hover .portfolio-content p {
    margin-top: 0;
    opacity: 1;
}

.portfolio-content hr {
    width: 40px;
    height: 1px;
    border: 0;
    background-color: #f1f3f6;
    margin: 20px 0 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181818;
    top: 0;
    z-index: 200;
    opacity: 0;
}

.portfolio-column:hover .portfolio-overlay {
    opacity: 0.8;
}

.classic .portfolio-content {
    background: #f1f3f6;
    position: relative;
    top: 0;
    transform: translateY(0);
}

.classic .portfolio-content,
.classic .portfolio-content h2,
.classic .portfolio-content p {
    opacity: 1;
    text-align: left;
}

.classic .portfolio-content h2 {
    color: #333;
    padding: 20px 30px 0;
    margin-top: 0;
}

.classic .portfolio-column:hover .portfolio-content h2 {
    margin-top: 0;
}

.classic .portfolio-content p {
    color: #666;
    margin-top: 0;
}

.project-head span {
    color: #333;
    font-weight: 400;
    margin-right: 5px;
}

.project-description {
    margin: 30px 0;
}

.project-media img {
    margin-bottom: 30px;
}

.video-container {
    margin-bottom: 20px;
    padding: 0 0 60%;
    position: relative;
    width: 100%;
}

.video-container iframe {
    border: 0 none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel {
    position: relative;
}

.carousel-control {
    font-size: 30px;
    opacity: 1;
    top: 50%;
    transform: translateY(-20%);
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.project-nav,
.post-nav {
    margin-top: 50px;
}

.project-nav i,
.post-nav i {
    font-size: 24px;
}

.project-nav a,
.post-nav a {
    color: inherit;
    font-weight: 500;
}

.project-nav a:hover,
.post-nav a:hover {
    color: #333;
}

/*-------------------------------------------------------------------

                        8. CONTACT BLOCK

-------------------------------------------------------------------*/

.contact-block {
    position: absolute;
    width: 430px;
    height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: table;
    transition: all 0.5s;
    z-index: 1;
}

.dark .contact-block {
    border: 1px solid rgba(51, 51, 51, 0.4);
}

.contact-block:hover {
    border: 15px solid rgba(255, 255, 255, 0.1);
}

.contact-block-container {
    display: table-cell;
    vertical-align: middle;
    -ms-transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
}

.contact-from {
    margin-top: 30px;
}

.contact-content {
    display: table;
    width: 100%;
    margin-top: 30px;
}

.contact-icon {
    width: 60px;
    vertical-align: top;
    font-size: 30px;
    text-align: center;
    color: #666;
}

.contact-details,
.contact-icon {
    display: table-cell;
}

.contact-details h5,
.contact-details p {
    margin-bottom: 0;
}

.contact-details h5 {
    font-weight: bold;
    font-size: 12px;
}

.error-form {
    float: right;
    margin: -24px 2px 0 0;
    position: relative;
    top: 0;
}

.error-form i:before {
    color: #c33;
    font-size: 100%;
    vertical-align: top;
    margin-right: 10px;
}

.alert-success {
    text-align: left;
}

#contactForm .form-control {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #727272;
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    transition: all 0.3s;
}

#contactForm .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #666;
}

#contactForm textarea {
    resize: none;
}

#map {
    height: 400px;
    margin-top: 50px;
    width: 100%;
}

/*-------------------------------------------------------------------

                        9. RESPONSIVE

-------------------------------------------------------------------*/

@media (min-width: 1920px) {
    .name-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 122px;
        top: 90px;
    }
    .about-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 702px;
        top: -60px;
    }
    .portfolio-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 897px;
        top: 179px;
    }
    .blog-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 1092px;
        top: 518px;
    }
    .contact-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 1386px;
        top: 138px;
    }
    .name-block.reverse {
        width: 400px;
        left: 300px;
    }
    .content-blocks,
    .content-blocks.pop.showx,
    .inline-menu-container,
    .close-pop {
        width: 1024px;
        left: auto;
        right: 0;
    }
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .name-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: -190px;
        top: 10px;
    }
    .about-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 382px;
        top: -151px;
    }
    .portfolio-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 577px;
        top: 89px;
    }
    .blog-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 772px;
        top: 428px;
    }
    .contact-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 1067px;
        top: 48px;
    }
}

@media (max-width: 1280px) {
    .inline-menu-container,
    .close-pop {
        right: 0;
        width: 70%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .name-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: -200px;
        top: -80px;
    }
    .about-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 419px;
        top: -160px;
        width: 350px;
        height: 300px;
    }
    .portfolio-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 586px;
        top: 88px;
        width: 350px;
        height: 300px;
    }
    .blog-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 753px;
        top: 335px;
        width: 350px;
        height: 300px;
    }
    .contact-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 900px;
        top: -70px;
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 981px) and (max-width: 1024px) {
    .name-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: -190px;
        top: 10px;
    }
    .about-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 382px;
        top: -150px;
    }
    .portfolio-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 577px;
        top: 89px;
    }
    .blog-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 772px;
        top: 428px;
    }
    .contact-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 365px;
        top: 538px;
    }
}

@media (max-width: 1024px) {
    .name-block-container h1 {
        font-size: 40px;
        line-height: 1.1;
    }
    .name-block-container h1 span,
    .name-block-container h2 {
        font-size: 22px;
        min-height: 22px;
    }
    .menu2 .name-block {
        padding: 0 0 0 20px;
    }
    .menu2 .name-block-container h1 {
        font-size: 50px;
    }
    .menu2 .name-block-container h1 span,
    .menu2 .name-block-container h2 {
        font-size: 26px;
        min-height: 26px;
    }
    .inline-menu-container {
        font-size: 14px;
        right: 10px;
        width: 69%;
    }
    .inline-menu li {
        padding: 0 10px;
    }
    /* .content {
        padding: 120px 50px 50px;
    } */
}

@media (min-width: 768px) and (max-width: 980px) {
    .name-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: -190px;
        top: 10px;
    }
    .about-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 382px;
        top: -150px;
    }
    .portfolio-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 577px;
        top: 89px;
    }
    .blog-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 336px;
        top: 548px;
    }
    .contact-block {
        -ms-transform: rotate(-34deg);
        -webkit-transform: rotate(-34deg);
        transform: rotate(-34deg);
        left: 9px;
        top: 780px;
    }
    .project {
        width: 50%;
    }
}

@media (max-width: 980px) {
    .left-side {
        padding-left: 30px;
        padding-right: 30px;
    }
    .left-side .avatar {
        width: 100%;
        height: 100%;
    }
    .left-side h1 {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
    }
    .left-side h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    .left-side .btn {
        white-space: initial;
        letter-spacing: 0;
    }
    .inline-menu {
        margin-top: 5px;
    }

    .timeline:before,
    .timeline:after,
    .exp:after {
        display: none;
    }

    .exp-holder {
        margin-top: 0;
    }

    .exp {
        padding-left: 0;
    }
    .clients img {
        opacity: 1;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .name-block,
    .about-block,
    .portfolio-block,
    .blog-block,
    .contact-block {
        position: relative;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        width: 100%;
        height: auto;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        display: table;
        left: 0;
        top: 0;
    }
    .contact-block {
        border-bottom: none;
    }
    .name-block-container,
    .about-block-container,
    .portfolio-block-container,
    .blog-block-container,
    .contact-block-container {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 0 0 0 0;
    }
    h2.menu-item {
        line-height: 3em;
        margin-bottom: 0;
        display: block;
    }
    h2.menu-item:after {
        position: absolute;
        content: '';
        top: 15px;
        left: -20px;
        width: 70px;
        height: 1px;
        background: #fff;
        transition: all 0.5s ease;
    }
    .social {
        position: relative;
        margin: 50px 0;
    }
    .inline-menu-container {
        width: 100%;
        left: 0;
    }
    .content-blocks {
        height: 100vh;
    }
}

@media (max-width: 800px) {
    .menu2 .social {
        bottom: 0;
    }
    .sidebar-menu,
    .home-container {
        left: 0;
        top: 0;
        width: 100%;
    }
    .sidebar-menu {
        height: 50px;
        z-index: 1;
    }
    .sidebar-menu.hidex {
        top: -60px;
    }
    .menu4 .inline-menu {
        position: relative;
        text-align: center;
        margin-top: 0;
        width: 100%;
    }
    .menu4 .inline-menu li {
        color: #f5f5f5;
        font-size: 16px;
        display: inline-block;
        line-height: 50px;
        padding: 0 10px;
    }
    .name-block {
        padding-top: 30px;
    }
    .name-block,
    .about-block,
    .portfolio-block,
    .blog-block,
    .contact-block {
        position: relative;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        width: 100%;
        height: auto;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        display: table;
        left: 0;
        top: 0;
    }
    .contact-block {
        border-bottom: none;
    }
    .about-block:hover,
    .portfolio-block:hover,
    .blog-block:hover,
    .contact-block:hover {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .name-block-container,
    .about-block-container,
    .portfolio-block-container,
    .blog-block-container,
    .contact-block-container {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        padding: 0 0 0 0;
    }
    h2.menu-item {
        line-height: 3em;
        margin-bottom: 0;
        display: block;
    }
    h2.menu-item:after {
        position: absolute;
        content: '';
        top: 15px;
        left: -20px;
        width: 70px;
        height: 1px;
        background: #fff;
        transition: all 0.5s ease;
    }
    .menu-block:hover h2.menu-item:before {
        top: -40px;
        left: -20px;
    }
    .menu-block:hover h2.menu-item:after {
        top: 15px;
        left: -20px;
    }
    .menu-block:hover {
        background: rgba(0, 0, 0, 0);
    }
    .social {
        position: relative;
        margin: 50px 0;
    }
    .menu4 .social {
        bottom: 0;
    }
    .menu4 .content-blocks,
    .content-blocks {
        width: 100%;
        left: 0;
    }
    .menu4 .content-blocks.pop {
        left: 100%;
    }
    .menu4 .content-blocks.pop.showx,
    .content-blocks.pop.showx {
        left: 0;
    }
    .menu4 .close-pop,
    .close-pop {
        right: 0;
        width: 100%;
    }
    .inline-menu-container {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 767px) {
    .home {
        overflow-y: scroll;
    }
    .menu2 .name-block-container h1 {
        font-size: 40px;
    }
    .menu2 .name-block-container h1 span,
    .menu2 .name-block-container h2 {
        font-size: 22px;
        min-height: 22px;
    }
    .status {
        display: none;
    }
    .content {
        padding: 100px 20px 50px;
    }
    .content-blocks.pop.showx {
        top: 0;
    }
    .content-blocks.pop.showx {
        height: 100vh;
    }
    .menu4 .name-block.reverse {
        padding-left: 0;
    }
    .exp .hgroup h4,
    .exp .hgroup h5 {
        display: table;
    }
    .exp .hgroup h5 {
        margin-left: 0;
    }
    .exp .hgroup h5:before {
        display: none;
    }
    .filters span {
        display: none;
    }
    .filters ul li {
        font-size: 14px;
        padding: 2px 5px 2px 0;
    }
    .name-block-container h1 span {
        font-size: 22px;
    }
    .name-block-container h1 {
        font-size: 36px;
    }
    .name-block-container h2 {
        font-size: 22px;
        min-height: 22px;
    }
    h2.menu-item {
        font-size: 20px;
        line-height: 2em;
        margin: 25px 0 25px 40px;
    }
    h2.menu-item:before {
        position: absolute;
        top: -20px;
        left: -20px;
        font-size: 14px;
    }
    .menu-block:hover h2.menu-item:before {
        top: -20px;
        left: -20px;
    }
    h2.menu-item:after {
        display: none;
    }
    .social {
        display: none;
    }
    .project {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .resume-box {
        text-align: center;
    }
}

@media (max-width: 640px) {
    .author-box .col-sm-2,
    .author-box .col-sm-10 {
        width: 100%;
        text-align: center;
    }
    .author-box img {
        display: block;
        margin: 0 auto 30px;
        width: 150px;
    }
    .comments-list .children {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .menu4 .inline-menu li {
        font-size: 14px;
        padding: 0 7px;
    }
    .single-post-title h1 {
        font-size: 40px;
    }
    .comment .col-sm-2 {
        width: 16.6667%;
    }
    .comment .col-sm-10 {
        width: 83.3333%;
    }
}

@media (max-width: 375px) {
    .home {
        height: auto;
        position: relative;
    }
    .menu4 .home {
        background-position: 50% 50%;
        height: 100vh;
    }
}

@media (max-width: 360px) {
    #blog-social li:first-child {
        display: block;
    }
    .comment .col-sm-2 {
        padding: 0;
    }
}

@media (max-width: 320px) {
    .inline-menu {
        margin-right: 0;
    }
    .inline-menu li {
        padding: 0 8px;
    }
    .menu4 .inline-menu li {
        padding: 0 5px;
    }
    .filters ul li {
        margin-left: 5px;
    }
    .project-nav span {
        display: block;
        width: 100%;
    }
}
